---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <hr />
    <p class="meta">Posted on: {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <footer>
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="marktaycon">Tweet</a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

      <!-- Place this tag where you want the +1 button to render. -->
      <div class="g-plusone" data-annotation="inline" data-width="300"></div>

      <!-- Place this tag after the last +1 button tag. -->
      <script type="text/javascript">
          (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/platform.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
      </script>
  </footer>

</div>